html {
  background-color: #F4F0E0;
}

@font-face {
  font-family: 'WorkSans';
  src: url('../assets/worksans.ttf');
}

#first {
  font-family: WorkSans;
  color: #333333;
  margin-left: 246px;
  margin-top: 120px;
  display: inline-block;
  font-size: 60px;
  letter-spacing: 10px;
  white-space: nowrap;
  width: 33%;
  border-right: 5px solid;
  overflow: hidden;
  animation:
    typewriter steps(20) 1s 1 normal both,
    blinkText 750ms steps(20) infinite
}

@keyframes typewriter {
  from {
    width: 0;
  }

  to {
    width: 100;
  }
}

@keyframes blinkText {
  from {
    border-right-color: #333333;
  }

  to {
    border-right-color: transparent
  }
}


#wrapper {
  font-family: WorkSans;
  color: #333333;
  margin-left: 250px;
  display: inline-block;
  animation: fadeIn 5s;
}

#navbar{
  color: #333333;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

hr {
  width: 65%;
  position: absolute;
  display: block;
  background-color: #333333;
  height: 1px;
  border: none;
}

a {
  color: #7A7A7A;
}

a:hover {
  color: #B8B8B8;
}

ul {
  list-style-type: none;
  color: #333333;
}

ul li:before {
  content: '\2013';
  position: absolute;
  margin-left: -20px;
}

